@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Root*/
:root{
    /*Fontes*/
    --font-btn: "Jost", sans-serif;
    --font-depoimento:"Roboto", sans-serif;
    --font-nome-dos-lanches: "Poppins", sans-serif;
    --font-menu: "League Spartan", sans-serif; 
    /*Cores*/
    --cor1-marrom:#402313;
    --cor2-vermelho:#DB1600;
    --cor-laranja:#DB6402;
    --cor-amarelo:#DBA100;
    --cor-quase-branco:#e9e9e9;
    --cor-cinza:#dbdbdb;
}
/*Seletor Geral*/
*{
    margin: 0;
    padding: 0;
}
/*Body/Html*/
body, html{
    background-color: var(--cor-quase-branco);
}
/*Header / Cabeça*/
header{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header #h1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
}

header .container{
    background-color: var(--cor-cinza);
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 18px;
}

header .pesquisa{
    width: 360px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 0px 40px;
}

header .pesquisa input{
    padding: 5px;
    width: 240px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 18px;
    margin-left: 15px;
}


header .pesquisa button{
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    border: none;
}

header .pesquisa button > span{
    color: black;
    padding: 10px;
}

/*Main/ Corpo*/

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

/*Conteudo 1 background-1*/
main #background-1{
    background-image: url(image/foto-de-fundo.jpg);
    width: 100vw;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    margin-bottom: 20px;
}

main #txt{
    padding: 10px;
    width: 200px;
    height: 90px;
    margin-top: 90px;
    margin-left: 10px;
}

main #txt p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
}

main #txt a{
    color: white;
    background-color: var(--cor-laranja);
    font-family: var(--font-btn);
    font-weight: 400;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
}

/*Conteudo 2 hamburguers*/

main #hamburguers{
    display: flex;
    justify-content: center;
    align-items: center;
}

main #hamburguers #conteudo-h{
    width: 200px;
}

main #hamburguers #conteudo-h .hamburguer img{
    width: 240px;
}

main #hamburguers #conteudo-h .hamburguer p{
    margin-bottom: 20px;
    text-align: center;
    font-family: var(--font-nome-dos-lanches);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-laranja);
}

.lanche{
    width: 100%;
    height: auto;
    background-color: aliceblue;
}

.lanche #lanche-recomendado{
    text-align: center;
   padding: 20px;
}

.lanche #lanche-recomendado #txt h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 0px;
    padding: 0px;
}

.lanche #lanche-recomendado .recomendo{
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lanche #lanche-recomendado #recomendo-1{
    background-image: url(image/foto-h-1.jpg);
}


















/*Typcal device Breakpoints
-----------------------------

pequenas telas: ate 600px
---------------------------

celular: de 600px ate 768px
----------------------------

tablet: de  768px ate 992px
----------------------------

pc: de 992px ate 1200px 
----------------------------

tv: acima de 1200
----------------------------
*/

