@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /*Fontes*/
    --font-h1: "Oswald", sans-serif;
    --font-depoimento:"Roboto", sans-serif;
    --font-nome-dos-lanches: "Poppins", sans-serif;
    --font-menu: "League Spartan", sans-serif; 
    /*Cores*/
    --cor1-marrom:#402313;
    --cor2-vermelho:#DB1600;
    --cor-laranja:#DB6402;
    --cor-amarelo:#DBA100;
    --cor-cinza:#d1cece;
}

*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .pesquisa{
}





















/*Typcal device Breakpoints
-----------------------------

pequenas telas: ate 600px
---------------------------

celular: de 600px ate 768px
----------------------------

tablet: de  768px ate 992px
----------------------------

pc: de 992px ate 1200px 
----------------------------

tv: acima de 1200
----------------------------
*/

